<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <title> Todo App </title>
</head>

<body>
  <h1> Tarefas à serem feitas </h1>
  <form action="/todos" method="post">
    <input type="text" name="description">
    <button type="submit"> Adicionar </button>
  </form>
  <ul>
    {{#todos}}
      <li>
          <form action="/todos/{{_id}}/completed" method="post">
            {{description}} - {{done}} <button type="submit"> Concluído </button>
          </form>
      </li>
    {{/todos}}
  </ul>
  <h3> Concluído</h3>
  <ul>
    {{#doneTodos}}
      <li>
          <form action="/todos/{{_id}}/completed" method="post">
            {{description}} - {{done}} <button type="submit"> Concluído </button>
          </form>
      </li>
    {{/doneTodos}}
  </ul>

</body>
</html>
